.sidebar{
  flex:0.17;
  margin-top:2px;
  margin-left:20px;
}
.sidebar_comp{
  display:flex;
  align-items: center;
  margin:0px;
  font-size: 10px;
  margin-bottom: 5px;
}

.sidebar_comp > h2{
  margin-left: 25px;
  font-weight:bold;
  color:#696969;
  font-family:"Roboto";
  font-size:17px;

}

.sidebar_comp:hover{
  color:red;
  background-color: lightgray;
}
